
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(220,220,220);
    line-height: 10px;
    text-align: center;
}

strong {
    color:#5299C0;
    font-weight: 600;
}

a{
    color: rgb(237,185,103);
    text-decoration: none;
}
a:hover, a:focus{
    color: rgb(222,108,108);
    text-decoration: none;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #000;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    line-height: 30px;
}

img { max-width: 100%; }



/***** Top content *****/

.inner-bg {
    padding: 60px 0 170px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #000; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    color: #000;
    opacity: 0.8;
}

.form-box {
    margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(75,122,147,.95);
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.fa-key{
    background: #000;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: rgb(230,230,230);
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #4aaf51;
}

.goSignUp{
    margin-top:10px;
}

.signUp{
    color:#000;
}

.errorLog{
    color:red;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}

